@font-face {
  font-family: 'bhasectors';
  src:  url('assets/fonts/bhasectors.eot?62h0q2');
  src:  url('assets/fonts/bhasectors.eot?62h0q2#iefix') format('embedded-opentype'),
    url('assets/fonts/bhasectors.ttf?62h0q2') format('truetype'),
    url('assets/fonts/bhasectors.woff?62h0q2') format('woff'),
    url('assets/fonts/bhasectors.svg?62h0q2#bhasectors') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bhasectors' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-AG:before {
  content: "\e900";
}
.icon-DRRPP:before {
  content: "\e901";
}
.icon-ERMS:before {
  content: "\e902";
}
.icon-FA:before {
  content: "\e903";
}
.icon-HCIMA:before {
  content: "\e904";
}
.icon-HLTH:before {
  content: "\e905";
}
.icon-HPSAA:before {
  content: "\e906";
}
.icon-LOGS:before {
  content: "\e907";
}
.icon-M-E:before {
  content: "\e908";
}
.icon-MPCA:before {
  content: "\e909";
}
.icon-NHTR:before {
  content: "\e90a";
}
.icon-NUTR:before {
  content: "\e90b";
}
.icon-CCCM:before {
  content: "\e90c";
}
.icon-ED:before {
  content: "\e90d";
}
.icon-PROT:before {
  content: "\e90e";
}
.icon-SHLTR:before {
  content: "\e90f";
}
.icon-WASH:before {
  content: "\e910";
}
